@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size:10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration:none;
}

hr {
    border: none;
    border-top: 2px solid #e8aa42;
    margin: 0 auto;
    height: 10px;
    width: 30%;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cta{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid #e8aa42;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    transition: 0.5s ease ;
    transition-property: background-color, color, border;
}

.cta:hover{
    color: white;
    background-color: #e8aa42;
}
.brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}
.brand h1 span{
    color: #e8aa42;
}
.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.section-title span{
    color:#e8aa42;
}
/* Ensures that image will have enough space */
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p{ 
    color: black;
    font-size:1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}
/*************************** Header Section *****************************/
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
#header .header{
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
    transition: .5s ease background-color ;
}
#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: rgb(31,30,30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index:1;
    overflow: hidden;
    transition: .5s ease left;
}
#header .nav-list ul.active{
    left:0;
}
#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
#header .nav-list ul a::after{
    content: attr(data-after);
    position: absolute;
    /* This is to make align the text and make it overlap */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
    color: rgba( 240,248,255,0.021);
    font-size: 10rem;
    font-weight: 700;
    letter-spacing: 50px;
    z-index: -1;
    transition: .8s ease letter-spacing, .8s ease opacity;
}
#header .nav-list ul li:hover a::after {
    transform: translate(-50%,-50%)scale(1);
    letter-spacing: initial;
    opacity: 1;
}
#header .nav-list ul li a:hover{
    color: #e8aa42;
}
/*TODO: Make width shorter when active as well */
/*TODO: Make animation stop when menu appeared */
#header .hamburger {
    height: 60px;
    width: 60px;
    /*?why is display defined twice?*/
    display: inline-block; 
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin: 20px;
}
#header .hamburger::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_pulse 1s ease infinite;
}
#header .hamburger.active::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: none;
}
#header .hamburger .bar{
    height: 2px;
    width: 30px;
    margin: 0 auto;
    position: relative;
    background-color: white;
    z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .3s ease;
    transition-property: top, bottom, height;
}
#header .hamburger .bar::after{
    top: 8px;
}
#header .hamburger .bar::before{
    bottom: 8px;
}
#header .hamburger.active .bar::before{
    bottom: 0;
}
#header .hamburger.active .bar::after{
    top: 0;
}
#header .hamburger.active .bar{
    height: 2px;
}


/**************************End Header Section ***************************/
/***************************** Hero Section *****************************/

#hero{
    background-image: url(./img/thumbnail_image1_auto_x2.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#hero::after{
    content: '';
    position: absolute;
    left:0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity:.7;
    z-index: -1;
}

#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#hero h1{
    display: black;
    width: fit-content;
    font-size: 4rem;
    position:relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}
#hero h1:nth-child(1){
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation-delay: 2s;
}
#hero h1:nth-child(3){
    font-weight: 500;
    animation: text_reveal_name 0.5s ease forwards;
    animation-delay: 3s;
}
#hero h1 span{
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #e8aa42;
    animation: text_reveal_box 1s ease;
    animation-delay: .3s;
}

#hero h1:nth-child(1) span{
    animation-delay: 0.5s;
}
#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span{
    animation-delay: 2.5s;
}

/************************** End Hero Section *****************************/

/************************** Services Section *****************************/
#services .services {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    /* v Make sures everything is always at the centre v */
    margin: 0 auto;
    padding: 100px 0;
}
#services .service-top {
    width: 50%;
    min-width: 350px;
}
#services .service-top p{
    color: black;
    font-size:1.4rem;
    margin-top:5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}

#services .service-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#services .service-item{
    flex-basis: 80%;
    display:flex;
    height: 500px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(./img/img-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
/* TODO: Make video zoom as well */
/* TODO: mobile view needs changing */
#services .service-item:nth-child(1){
    background-image: url(./img/background/arm.avif);
}
#services .service-item:nth-child(2){
    background-image: url(./img/background/gds-holdings--600.png);
}
#services .service-item:nth-child(3){
    background-image: url(./img/background/Earth.jpg);
}
#services .service-item:nth-child(4){
    background-image: url(./img/background/ORII-1.jpg);
    background-position: center top;
}
#services .service-item:nth-child(4)::after .service-item:nth-child(4)::after{
    opacity:.9;
}

#services .service-item::after{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .8;
    z-index: -1;
}

#services .service-bottom .icon{
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
    position: relative;
}

#services .service-bottom .icon img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#services .service-item h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#services .service-item p{
    font-size: 1.4rem;
    line-height: 1.9rem;
    color: white;
    text-align: justify;
    text-justify: distribute;
    /* word-spacing: -4px; */
    overflow-wrap: break-word;
}

/************************ End Services Section ****************************/
/*************************** Projects Section *****************************/
#projects .projects{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
#projects .projects-header h1{
    margin-bottom: 50px;
}
#projects .all-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#projects .project-item{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    height: 700px;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}
#projects .project-item:nth-child(1) .project-img video{
    flex-basis: 50%;
    width: 100%;
    bottom: 300px;
    overflow: hidden;
    position: relative;
}
#projects .project-item:nth-child(2) .project-img video{
    flex-basis: 50%;
    width: 100%;
    bottom: 300px;
    overflow: hidden;
    position: relative;
}

#projects .project-info{
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: white;
}

#projects .project-info h1{
    font-size: 4rem;
    font-weight: 500;
}

#projects .project-info h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}
#projects .project-info p{
    color: white;
}

#projects .project-img{
    flex-basis: 50%;
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#projects .project-img::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .7;
}
/* for animation */
#projects .project-img img{
    transition: .3s ease transform;
}
#projects .project-item:hover img{
    transform: scale(1.1);
}
/************************* End Projects Section ***************************/
/**************************** About Section *******************************/
#about .about{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
    
}
#about .col-left{
    width: 250px;
    height: 360px;
}
#about .col-left .about-img{
    clip: rect(0, 100%, 100%, 0);
    position: relative;
    border: 10px solid white;
    margin: auto 0;
    background-color: white;
}

#about .col-left .about-img::after{
    content: '';
    position: absolute;
    left:-33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid #e8aa42;
    z-index: -1;
}

#about .col-right{
    width: 100%;
}
#about .col-right h2{
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}
#about .col-right p{
    margin-bottom: 20px;
}
#about .col-right .cta{
    color: black;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}

/*************************** End About Section ****************************/
/*************************** Contact Section ******************************/
#contact .contact{
    flex-direction:column;
    max-width: 1200px;
    margin: 0 auto;
}
#contact .contact-items{
    width: 400px;
}
#contact .contact-item{
    width: 80%;
    padding:20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 19px 0 #0000002c;
}
#contact .contact-item:hover{
    box-shadow: 0px 0px 5px 0 #0000002c;
    transition: .3s ease box-shadow;
}
#contact .icon{
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contact .contact-info h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}
#contact .contact-info h2{
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}
/************************* End Contact Section ****************************/
/**************************** Footer Section ******************************/
#footer{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}
#footer h2{
    color:white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1 rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer .social-icon{
    display: flex;
    margin-bottom: 30px;
}
#footer .social-item{
    padding-top:10px;
    height: 50px;
    width: 50px;
    margin: 0 5px;
}
#footer .social-item img{
    transform: scale(1);
    transition: .5s ease transform;
}
#footer .social-item:hover img{
    transform: scale(1.2);
}
#footer p{
    color:white;
    font-size: 1.3rem;
    text-align: center;
}
#footer p span{
    color:grey;
    font-size: 1.3rem;
    text-align: center;
}
#footer a{
    color:grey;
    text-decoration: underline;
}
#footer .social-icon img{
    height:50px;
    width:50px;
}
/************************** End Footer Section ****************************/
/************************       Keyframes      ****************************/
@keyframes text_reveal_box {
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal{
    100% {
        color: white;
    }
}
@keyframes text_reveal_name{
    100% {
        color: #e8aa42;
        font-weight: 500;
    }
}
@keyframes hamburger_pulse{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.4);
    }
}
/************************     End Keyframes     ****************************/

@media only screen and (max-width:767px){
    #projects .project-item:nth-child(1) .project-img video{
        flex-basis: 50%;
        width: 100%;
        bottom: 225px;
        overflow: hidden;
        position: relative;
    }
    #projects .project-item:nth-child(2) .project-img video{
        flex-basis: 50%;
        width: 100%;
        bottom: 275px;
        overflow: hidden;
        position: relative;
    }
}

/**************************** Media Query For Tablet ************************/
@media only screen and (min-width:768px){
    .cta{
        font-size: 2.5rem;
        padding: 20px 60px;

    }
    h1.section-title{
        font-size: 6rem;
    }
    
    /** Hero */
    #hero h1{
        font-size: 7rem;
    }
    /** End Hero */

    /** Services */
    #services .service-bottom .service-item{
        /* Make Each two 2 item */
        flex-basis: 45%;
        margin: 2.5%;
    }
    /** End Services */

    /** Projects */
    #projects .project-item{
        flex-direction: row;
    }
    #projects .project-item:nth-child(even){
        flex-direction: row-reverse;
    }
    #projects .project-item{
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    #projects .all-projects .project-info{
        height: 100%;
    }
    #projects .all-projects .project-img{
        height: 100%;
    } 
    
    /** End Projects */
    /** About */
    #about .about{
        flex-direction: row;
    }
    #about .col-left{
        width: 600px;
        height: 400px;
        padding-left: 60px;
    }
    #about .about .col-left .about-img{
        margin: 20px;
    }
    
    #about .about .col-left .about-img::after{
        left: -45px;
        top: 34px;
        height: 98%;
        border: 10px solid #e8aa42;
    }
    #about .col-right{
        text-align: left;
        padding: 30px;
    }
    #about .col-right h1{
        text-align: left;
    }
    /** End About */

    /** Contact */
    #contact .contact{
        flex-direction:column;
        padding: 100px 0;
        align-items: center;
        justify-self: center;
        min-height: 20vh;
    }
    #contact .contact-items {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
        padding: 30px;
    }
    #contact .contact-item{
        width: 30%;
        margin: 20px;
        flex-direction: row;
    }
    #contact .contact-item .icon{
        height: 100px;
        width: 100px;
    }
    #contact .contact-item .icon img {
        object-fit: contain;
    }
    #contact .contact-item .contact-info {
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }
    /** End Contact */

}
/************************ END  Media Query For Tablet ***********************/
/****************************  Media Query For Desktop **********************/
@media only screen and (min-width: 1200px){
    #header .hamburger{
        display:none;
    }
    #header .nav-list ul{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list li{
        display: inline-block;
    }
    #header .nav-list li a{
        font-size: 1.8rem;
    }
    #header .nav-list ul a:after{
        display: none;
    }
    #contact .contact-item .icon{
        height: 120px;
        width: 120px;
        margin: auto;
    }
    /* #services .service-bottom .service-item{
        flex-basis: 470px;
        margin: 1.5%;
    } */
}
/************************ END  Media Query For Desktop **********************/
